*{
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container-full{
    max-width: 1140px;
    margin: 0 auto;
}

#text-home{
    color: #252432;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.text-light-gray{
    color: #8987A1;
}
.paragraph-text-color{
    color: rgba(0, 0, 0, 0.5);
}
.title-color-gray{
    color: #E95A08;
}


/* HEADER STYLES */
/* HEADER LOGO STYLE */
/* .logo{

} */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
/* NAVBAR STYLES */
.navbar ul{
    display: flex;
    
}
.navbar ul li{
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    margin-right: 48px;
}
.shop-icon{
    padding-right: 10px;
    width: 22px;
    height: 15px;
}


/* BANNER SECTION */
.banner{
    display: flex;
    margin-top: 120px;
}
.banner-titles{
    margin-top: 100px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.beauty-text{
    font-size: 1.3rem;
    font-weight: 400;
}

/* BANNER RIGHT IMG STYLES */
.banner-right-img{
    max-width: 100%;
}


/* PLANTS SECTION STYLES */
.plants-section{
    margin-top: 120px;
}
.our-plant, .latest-deals-titles{
    text-align: center;
}
.plant-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.plant-text{
    font-size: 1.5rem;
    width: 888px;
    display: inline-block;
    margin-top: 16px;
}


/* FLOWER BOX STYLES */
.flower-box{
    margin-top: 49px;
    margin-bottom: 200px;
}
.card-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
}
.box{
    max-width: 270px;
}
.flower-img-box{
    max-width: 100%;
}
.lily-text{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.prices{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 14px 0px;
}
.btn-primary{
    background-color: #E95A08;
    padding: 19px;
    color: white;
    border: none;
    width: 270px;
    height: 50px;
}


/* PLANTS LOVER STYLES */
.plants-lover{
    display: flex;
    gap: 60px;
    margin-bottom: 130px;
    height: 590px;
}

.lover-titles{
    max-width: 540px;
    height: 520px;
    padding: 60px 0px;
}
.srusted-image{
    width: 286px;
    height: 286px;
    margin-top: -130px;
    margin-left: 350px;
    position: absolute;
}
.lover-image{
    width: 540px;
    height: 590px;
}

.lover-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.lover-text{
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 20px;
    
}





/* JOIN SECTION STYLES */
.deal-images{
    display: flex;
    gap: 20px;
    margin: 120px 0px;
}
.deal-left-img img{
    border-radius: 14px;
    margin: 8px 0px;
}
.zabo-right-img img{
    border-radius: 22px;
}





.all-images{
    display: flex;
    gap: 20px;
    margin: 120px 0px;
}

.fast-images{
    background-image: url('../images/deal-bloom.png'); width: 360px; height: 200px; margin-bottom: 20px; border-radius: 14px; opacity: 1;
    background-repeat: no-repeat;
}
.second-images{
    background-image: url('../images/deal-ana.png'); width: 360px; height: 200px; border-radius: 14px; opacity: 1;
    background-repeat: no-repeat;
}
.single-right-img{
    background-image: url('../images/deal-zabo.png'); width: 750px; height: 420px; border-radius: 22px; opacity: 1;
}
.off-text{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;
}
.shop-now{
    background: none;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 22px 0px 0px 135px;
}
.zabo-text{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 152px;
}
.zabo-shop{
    background: none;
    font-size: 1rem;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 30px 0px 0px 310px;
}





/* COLORFUL BUNCH STYLES */
.colorful-bunch{
    width: 100%;
    height: 530px;
   margin-bottom: 50px;
}

.flower-bg-image{
    height: 530px;
    background-image: url('../images/news-letter-bg.png'); width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.center-text{
    text-align: center;
    padding: 190px 0px;
}
.join-the{
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}
.email{
    width: 640px;
    height: 50px;
    padding-left: 10px;
}
.subscribe{
    background-color: #E95A08;
    padding: 18px 50px;
    border: none;
    color: white;
    font-weight: 600;
    margin-left: -4px;
}





/* FOOTER STYLES */

.footer{
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
    justify-content: space-around;
}
.website-logo p{
    padding-top: 10px;
    width: 220px;
}
.anchor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.anchor-links{
    display: inline-grid;
    
}
.anchor-links a{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
    padding: 20px 0px;
}
.icon-images{
    display: flex;
    column-gap: 20px;
}
.icon-images img{
    width: 36px;
    height: 36px;
}









/* MOBILE RESPONSIVE */

@media screen and (max-width: 576px) {
    .container{
        flex-direction: row;
        justify-content:space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar a{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 28px;
    }
    .banner-titles{
        margin-top: 30px;
    }
    .banner-title{
        font-size: 2rem;
        margin-left: 20px;
    }
    .beauty-text{
        font-size: 1.5rem;
        margin: 12px 20px;
    }
    .banner-right-img{
        margin-right: -32px;
    }
    .plant-text{
        max-width: 480px;
    }
    .flower-box{
        margin-bottom: 40px;
    }
    .card-box{
        grid-template-columns: repeat(2, 1fr);  
    }
    .box{
        margin-top: 20px;
        max-width: 250px;
        margin-left: 16px;
    }
    .flower-img-box{
        max-width: 100%;
    }
    .btn-primary{
        width: 250px;
        height: 50px;
    }
    .plants-lover{
        flex-direction: column;
    }
    .srusted-image{
        display: none;
    }
    .lover-image{
        width: 92%;
        margin-left: 20px;
    }
    
    .lover-titles{
        padding: 0px 40px;
        margin-top: -30px;
    }
     .lover-title{
        font-size: 2.5rem;
     }
     .lover-text{
        font-size: 1rem;
     }
     .our-plant{
        margin-top: 180px;
     }
     .latest-deals-titles{
        margin-top: 420px;
     }
     .all-images{
        flex-direction: column;
        margin: 40px 0px;
        width: 100%;
     }
     .fast-images{
        width: 360px;
        height: 180px;
        margin-left: 80px;
     }
     .second-images{
        width: 360px;
        height: 180px;
        margin-left: 80px;
     }
     .single-right-img{
        display: none;
     }
     .flower-bg-image{
        width: 100%;
        height: 270px;
     }
     .center-text{
        padding: 100px 0px;
     }
     .join-the{
        font-size: 2rem;
        font-weight: 700;
     }
     .email{
        width: 200px;
        height: 50px;
        padding-left: 10px;
    }
     .footer{
        flex-direction: column;
        margin-top: -250px;
        margin-left: 40px;
     }
     .anchor{
        grid-template-columns: 1fr;
        gap: 0px;
        margin-top: -80px;
     }
     .icon-images img{
        margin-top: -80px;
     }
}







